# --- DESENVOLVIMENTO  ---
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL="postgresql://USUARIO:SENHA@localhost:5432/NOME_DO_BANCO?schema=public"
PORT=
MQTT_URL=
MQTT_USER=
MQTT_PASS=

# --- PRODUÇÃO ---
#POSTGRES_USER=
#POSTGRES_PASSWORD=
#POSTGRES_DB=
#DATABASE_URL="postgresql://USUARIO:SENHA@localhost:5432/NOME_DO_BANCO?schema=public"
#DIRECT_URL="postgresql://USUARIO:SENHA@localhost:5432/NOME_DO_BANCO?schema=public"
#PORT=
#MQTT_URL=
#MQTT_USER=
#MQTT_PASS=